{{ 'two-image-layout.css' | asset_url | stylesheet_tag }}

<div class="main_content">
  <div class="heading">
    <h2 class="title" style="color: {{section.blocks.settings.title_color}}">{{ section.settings.title | escape }}</h2>
    <p class="paragraph" style="color: {{section.blocks.settings.paragraph_color}}">{{ section.settings.paragraph | escape }}
      <a href="{{ section.settings.link | escape }}">{{ section.settings.link_title | escape }}</a>
    </p>
  </div>
  <div class="images">
    <div class="image_container">
      <img src="/images/castlebeard-co-0D6aORtbl-c-unsplash.jpg" />
      <div class="image_information">
        <h3>Title here</h3>
        <p>Paragraph here</p>
        <div class="image_link">
          <a href="#">Link here</a>
        </div>
      </div>
    </div>
    <div class="image_container">
      <img src="/images/castlebeard-co-0D6aORtbl-c-unsplash.jpg" />
      <div class="image_information">
        <h3>Title here</h3>
        <p>Paragraph here</p>
        <div class="image_link">
          <a href="#">Link here</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Two Image Layout",
    "class": "image-layout-full-width",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title of section",
        "default": "Hi, we're Bluewash."
      }, {
        "type": "text",
        "id": "paragraph",
        "label": "Paragraph",
        "default": "Bluewash is a Shopify 2.0 Template made for Men's Body Care Shopify store owners. Learn more about us"
      }, 
      {
        "type": "url",
        "id": "link",
        "label": "Link (optional)"
      },
      {
        "type": "text",
        "id": "link_title",
        "label": "Link Title",
        "default": "Type a word here"
      }, 
    ],
    "blocks": [
      {
        "type": "image",
        "name": "Image",
        "limit": 2,
        "settings": [
            {
            "type": "image_picker",
            "id": "image-container",
            "label": "Choose Image"
          },
          {
            "type": "text",
            "id": "image-title",
            "label": "Image Title",
            "default": "Title here"
          },
          {
            "type": "color",
            "id": "title_color",
            "label": "Title Color",
            "default": "#000000"
          }, 
          {
            "type": "text",
            "id": "image_paragraph",
            "label": "Image Paragraph",
            "default": "Paragraph here"
          },{
            "type": "color",
            "id": "paragraph_color",
            "label": "Paragraph Color",
            "default": "#000000"
          },
          {
        "type": "url",
        "id": "image-link",
        "label": "Image Link"
      }
        ]
      }
    ],
    "presets": [
      {
        "name": "Two Image Layout",
        "blocks": [
          {
            "type": "image"
          }, {
            "type": "image"
          }
        ]
      }
    ]
  }
{% endschema %}