{{ 'two-image-layout.css' | asset_url | stylesheet_tag }}

<div class="main_content">
  <div class="heading">
    <h2 class="title" style="color: {{section.settings.title_color}}">{{ section.settings.title | escape }}</h2>
    <p class="paragraph" style="color: {{section.settings.paragraph_color}}">{{ section.settings.paragraph | escape }}
      <a href="{{ section.settings.link | escape }}">{{ section.settings.link_title | escape }}</a>
    </p>
  </div>
  image_link
  <div class="images">
    <a href="{{ section.blocks.settings.link | escape }}" class="individual_image">
    <div class="image_container">
        {%- if section.block.settings.image -%}
        <img
          srcset="{%- if section.block.settings.image.width >= 375 -%}{{ section.block.settings.image | image_url: width: 375 }} 375w,{%- endif -%}
          {%- if section.block.settings.image.width >= 550 -%}{{ section.block.settings.image | image_url: width: 550 }} 550w,{%- endif -%}
          {%- if section.block.settings.image.width >= 750 -%}{{ section.block.settings.image | image_url: width: 750 }} 750w,{%- endif -%}
          {%- if section.block.settings.image.width >= 1100 -%}{{ section.block.settings.image | image_url: width: 1100 }} 1100w,{%- endif -%}
          {%- if section.block.settings.image.width >= 1500 -%}{{ section.block.settings.image | image_url: width: 1500 }} 1500w,{%- endif -%}
          {%- if section.block.settings.image.width >= 1780 -%}{{ section.block.settings.image | image_url: width: 1780 }} 1780w,{%- endif -%}
          {%- if section.block.settings.image.width >= 2000 -%}{{ section.block.settings.image | image_url: width: 2000 }} 2000w,{%- endif -%}
          {%- if section.block.settings.image.width >= 3000 -%}{{ section.block.settings.image | image_url: width: 3000 }} 3000w,{%- endif -%}
          {%- if section.block.settings.image.width >= 3840 -%}{{ section.block.settings.image | image_url: width: 3840 }} 3840w,{%- endif -%}
          {{ section.block.settings.image | image_url }} {{ section.block.settings.image.width }}w"
          sizes="100vw"
          src="{{ section.block.settings.image | image_url: width: 1500 }}"
          loading="lazy"
          alt="{{ section.block.settings.image.alt | escape }}"
          width="{{ section.block.settings.image.width }}"
          height="{{ section.block.settings.image.width | divided_by: section.block.settings.image.aspect_ratio | round }}"
        >
      {%- else -%}
        {{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder-svg' }}
      {%- endif -%}
      <div class="image_information">
        <h3 style="color: {{section.blocks.settings.title_color}}">{{ section.blocks.settings.image_title | escape }}</h3>
        <p style="color: {{section.blocks.settings.paragraph_color}}">{{ section.blocks.settings.image_paragraph | escape }}</p>
        <div class="image_link">
          <a href="{{ section.blocks.settings.link | escape }}">{{ section.settings.image_link_title | escape }}</a>
        </div>
      </div>
    </div>
    </a>
    <a href="#" class="individual_image">
    <div class="image_container">
      <img src="/images/castlebeard-co-0D6aORtbl-c-unsplash.jpg" />
      <div class="image_information">
        <h3>Title here</h3>
        <p>Paragraph here</p>
        <div class="image_link">
          <a href="#">Link here</a>
        </div>
      </div>
    </div>
    </a>
  </div>
</div>

{% schema %}
  {
    "name": "Two Image Layout",
    "class": "image-layout-full-width",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title of section",
        "default": "Hi, we're Bluewash."
      },
      {
            "type": "color",
            "id": "title_color",
            "label": "Title Color",
            "default": "#000000"
          }, 
           {
        "type": "text",
        "id": "paragraph",
        "label": "Paragraph",
        "default": "Bluewash is a Shopify 2.0 Template."
      }, 
      {
            "type": "color",
            "id": "paragraph_color",
            "label": "Paragraph Color",
            "default": "#000000"
          },
      {
        "type": "url",
        "id": "link",
        "label": "Link (optional)"
      },
      {
        "type": "text",
        "id": "link_title",
        "label": "Link Title",
        "default": "Link here"
      }
    ],
    "blocks": [
      {
        "type": "image",
        "name": "Image",
        "limit": 2,
        "settings": [
            {
            "type": "image_picker",
            "id": "image-container",
            "label": "Choose Image"
          },
          {
            "type": "text",
            "id": "image_title",
            "label": "Title",
            "default": "Title here"
          },
          {
            "type": "color",
            "id": "title_color",
            "label": "Title Color",
            "default": "#000000"
          }, 
          {
            "type": "text",
            "id": "image_paragraph",
            "label": "Paragraph",
            "default": "Paragraph here"
          },
          {
            "type": "color",
            "id": "paragraph_color",
            "label": "Paragraph Color",
            "default": "#000000"
          },
          {
        "type": "url",
        "id": "image_link",
        "label": "Image Link"
      },
      {
        "type": "text",
        "id": "image_link_title",
        "label": "Link Title",
        "default": "Link here"
      }
        ]
      }
    ],
    "presets": [
      {
        "name": "Two Image Layout",
        "blocks": [
          {
            "type": "image"
          }, {
            "type": "image"
          }
        ]
      }
    ]
  }
{% endschema %}